@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto:wght@300&display=swap');
$accColor : #1f9e50;
$secColor: #52b68d;
$tColor : #08c18a;

.sidebar{
    font-family: 'Poppins', sans-serif;
    padding:2%;
    min-width: 25%;
    margin-left: 10px;
    border-radius: 5px;
    max-height: 200vh;
    overflow-y: scroll;
    background-color: white;
    font-weight: bold;
    color: Black;

    .row1{
        button{
            background-color: white;
            border: none;
            color: white;
            &:hover{
                background-color: antiquewhite;
            }
            img{
                height: 25px;
            }
        }
    }
    .row2{
        padding: 15px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        background: $secColor;
        overflow-x: hidden;
        h3{
            text-align: center;
            margin: auto;
            color: white;
            text-transform: uppercase;
        }
    }

    .row3{
        span{

            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .row4{
        div{
            span{
                display: flex;
                align-items: center;
                h5{
                    margin: 0;
                    margin-left: 10px;
                }
            }
            .main{
                text-align: center;
                text-decoration: underline;
            }

        }
    }

}

@media (max-width:800px){


   .sidebar{
    box-shadow: 0 0 10px gray;
      position: absolute;
      right: 20px;
      width: 50%;
    }
}
@media (max-width:686px){
    .sidebar{
        right: 10px;
    }
}
@media (max-width:550px){
    
    
    .sidebar{
        width: 65%;
        max-height: 100vh;

   }
}
@media (max-width:425px){
    
    
    .sidebar{
        position: absolute;
        width: 80%;
   }
}